<template>
  <nav class="header">
    <header class="header-title">
      <h1><router-link to="/">Tomoro's Portfolio</router-link></h1>
    </header>
    <ul class="header-list">
      <li><router-link to="/">Home</router-link></li>
      <li><router-link to="/about">About</router-link></li>
      <li><router-link to="/skill">Skill</router-link></li>
      <li><router-link to="/works">Works</router-link></li>
      <li><router-link to="/contact">Contact</router-link></li>
    </ul>
  </nav>
</template>
