<template>
  <div id="app">
    <hnav></hnav>
    <transition name="fade">
      <router-view :data="myData"></router-view>
    </transition>
  </div>
</template>

<script>
import HeaderNav from '@/components/parts/NavHeader'
export default {
  name: 'app',
  components:{
    hnav:HeaderNav
  }
}
</script>

<style>

</style>
