@charset 'utf-8';
// @import '_reset.css';

$c-text:hsl(50, 20%, 20%);

*{
  box-sizing: border-box;
}

.fade-enter-active{
  transition: opacity 0.5s ease-in
}

.fade-leave-active{
  transition: opacity 0.5s ease-out
}

.fade-enter, .fade-leave-to{
  opacity: 0
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html{
  color:$c-text;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
  color:#27263a;
  font-size: 1.6rem;
  line-height: 1.8;
}

a:-webkit-any-link {
  text-decoration: none;
  color:#27263a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 20px;
}

.header{
  width: 100%;
  height: 60px;
  display: inline-block;
  background-color: #DEF9F2;
  box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  top:0px;
}

.header-title{
  display: inline-block;
  width: 45%;
  float: left;
  margin-top:9px;
}

.header-title h1{
  margin: 0;
  padding-left: 2em;
  text-align: left;
}

.header-list{
  display: inline-block;
  text-align: right;
  width:45%;
  margin-top: 16px;
}

@media (max-width:770px){
  .header{
    box-shadow: none;
  }
  .header-title{
    width:100%;
    // padding:0.5rem;
    margin:4 auto;
    text-align: center;
  }

  .header-title h1{
    text-align: center;
    padding:0;
  }

  .header-list{
    width:100%;
    text-align: center;
    margin: 0;
    // padding:0.5rem;
    background-color: #DEF9F2;
    // box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  }

  .header-list li{
    margin:0.5rem;
    font-size: 1.2rem;
  }
}
