<template>
  <div class="top-main">

    <span v-for="(t, index) in text" :key="index" v-text="t" class="item delay-anime"/>

  </div>
</template>

<script>
export default {
  name: 'top',
  title:'Top',
  description:'tomoroのポートフォリオサイト',
  props:['data'],
  data(){
    return {
      text:"tomoro's portfolio"
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.top-main{
  width: 100%;
  height: 93vh;
  position: relative;
  background: linear-gradient(#DEF9F2, #9198e5);
}

@keyframes text-in {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
}

.item {
  display: inline-block;
  min-width: 0.3em;
  font-size: 2rem;
  animation: text-in 0.8s cubic-bezier(0.22, 0.15, 0.25, 1.43) 0s backwards;
}

for co in 0 .. 12 {
  .delay-anime:nth-child({co + 1}) {
    animation-delay: co * 100ms + 200ms;
  }
}
</style>
